<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Voice Synthesizer</title>
  <link rel="stylesheet" href="../styles/main.css">
  <!-- Materialize CSS -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Voice Synthesizer</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="./index.html"><i class="material-icons left">record_voice_over</i>Text Input</a></li>
      <li><a href="./cards.html"><i class="material-icons left">add_to_queue</i>Pre-Built</a></li>
      <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
    </ul>
  </div>
</nav>

<div class="row">

   <form class="col s8 offset-s2">
     <div class="row">
       <div class="input-field col s8">
         <label>Enter response text:</label>
         <textarea id="response_text" class="materialize-textarea" data-length="300"></textarea>
       </div>
       <div class="input-field col s4">
         <label>Enter response keyword:</label>
         <textarea id="response_id" class="materialize-textarea" data-length="100"></textarea>
       </div>
        <a href="#" id="addBtn" class="waves-effect waves-light btn">Add Response</a>
     </div>

   </form>
 </div>

<hr>
<h4>Pre-Built Responses:</h4>
<div class="row" id="viewResponses">
  <!-- Appending responses from DB here -->
</div>



  <!-- jQuery first then Materialize JS. -->
  <script src="../vendors/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="../scripts/client.js"></script>
</body>
</html>
